.page{
    background-color: black;
    display: flex;
    justify-content: center;
    max-width: 880px;
    margin:auto;
}

@media screen and (max-width:904px) {
    .page{
        max-width: 100%;
        display: block;
        margin-left: 19px;
        margin-right: 19px;
    }    
}

@media screen and (max-width:330px) {
    .page{
        margin: 0px;
    }
}